.main-logo{
    font-family: 'fontello';
    font-size: 4em;
    text-decoration: none !important;
    color: #209cee !important;
    margin-left: 1em;
    background: #FFF;
}

#main-logo:hover{
    background: #FFF !important;
}