.custom-chart{
    width: 100%;
}

.data-descriptor canvas, .data-descriptor .message-body{
    min-height: 45vh;
}

.data-header{
    font-size: 2em;
}

.is-data-danger{
    color: #ffdd57;
}

.data-header i{
    margin-right: 10px;
}

.is-data-bad{
    color: #ff3860;
}

.is-data-good{
    color: #23d160;
}

.data-descriptor{
    margin-top: 10vh;
}

.is-data-table-danger{
    background: #ffdd57;
}